fastapi
uvicorn
gunicorn
pydantic
openai==1.59.8
langdetect==1.0.9
python-dotenv
SQLAlchemy==2.0.37
nltk==3.9.1
mercadopago
python-jose==3.3.0
pandas==2.2.3
tiktoken==0.8.0
pydantic-settings
passlib==1.7.4
psycopg2-binary==2.9.10
bcrypt==4.0.1

# Development dependencies
pytest>=7.4.3
flake8>=6.1.0
black>=23.12.1
pre-commit>=3.5.0
httpx>=0.25.2  # For FastAPI TestClient